.blinking {
  animation: blinking 3s infinite;
}

@keyframes blinking {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.card {
  padding: 1rem !important;
}


.p-datepicker-monthpicker {
  left: auto !important;
  right: auto !important;
}
.p-rating .p-rating-item.p-rating-item-active .p-rating-icon  {
  color: var(--yellow-500) !important;
}

 .p-rating .p-rating-item .p-rating-icon {
    color: var(--yellow-500) !important;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    font-size: 1rem;
  }


.customized-timeline.p-timeline.p-timeline-vertical
.p-timeline-event:nth-child(odd)
.p-timeline-event-content,
.customized-timeline.p-timeline.p-timeline-vertical
.p-timeline-event:nth-child(odd)
.p-timeline-event-opposite {
  padding-right: 0;
}

.customized-timeline.p-timeline.p-timeline-vertical
.p-timeline-event:nth-child(even)
.p-timeline-event-content,
.customized-timeline.p-timeline.p-timeline-vertical
.p-timeline-event:nth-child(even)
.p-timeline-event-opposite {
  padding-left: 0;
}

.customized-timeline .p-timeline-event-content .p-card {
  margin: 0;
}


@media screen and (max-width: 991px) {
    .customized-timeline .p-timeline-event:nth-child(even) {
        flex-direction: row !important;
    }
    .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
        text-align: left !important;
    }
    .customized-timeline .p-timeline-event-opposite {
        flex: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .customized-timeline .p-card {
        margin-top: 1rem;
    }
    .customized-timeline.p-timeline.p-timeline-vertical
    .p-timeline-event-content{
      padding-left: 1rem !important;
      padding-right: 0;
      padding-bottom: 1rem !important;
    }
}
